body {
    background-color: black;
    color:rgb(230, 244, 43)
}

h1, h2 {
    background-color: rgb(218, 146, 39);
    text-align:start;
    border-radius: 20cm;
}

p {
    border: 2px solid black;
    outline: #f50c0c solid 10px;
    margin: auto;  
    padding: 20px;
    text-align: left;
    outline-offset: 3px;
  }