body {
      background-color: black;
      color: hsl(0, 11%, 96%);
     
}

.logo {
    background-color: #dc143c;
    text-align: right;
    font-family: futura bold obliquea;
    font-size: 100px;
    padding: auto;
    border-style: groove;
    border-color: #ffffff;
    border-width: 5px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    margin: left;
    width: 365px;
    float: left;
    margin: 10px;
    padding: 10px;
    margin-left: 450px;
    margin-top: 200px;
}

 p {
    text-align: center;
    direction: ltr;
    font-size: 25px;
    background-color: #dc143c;
    font-family: futura bold obliquea;
    font-size: 25px;
    padding: 5px;
    border-style: groove;
    border-color: #ffffff;
    border-width: 5px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    width: auto;
    text-align: center;
 }

ul {
   text-align: left;
   font-size: 50px;
   background-color: #dc143c;
   border-radius: 50%;
   width: 25%;

}

h3, h4 {
   text-align: right;
   font-size: 50px;
   background-color: #c304a3;

}


article {
   float: left;
   padding: 20px;
   width: 70%;
   background-color: #ea05a9;
   height: 300px;
 }